@import '../../scss/animations.scss';
@import '../../scss/breakpoints.scss';
@import '../../scss/variables.scss';

.bannerSection {
    position: relative;
    display: grid;
    grid-template-columns: .6fr .4fr;

    width: 100%;
    height: 100vh;
    padding: 2rem 10rem;
    background-color: $color-primary-dark;

    @include respond(phone) {
        display: block;
        padding: 2rem 6rem;
    }

    &__left {
        display: flex;
        flex-direction: column;

        height: 100%;
        z-index: 10;
    }

    &__right {
        position: relative;
        overflow: hidden;
        z-index: 10;

        display: flex;
        align-items: center;

        @include respond(tab-port) {
            display: none;
        }
    }
}

.introText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    font-family: $font-poppins;
    color: $color-white-dull;
    margin: auto 0;

    &__salutation {
        font-family: inherit;
        font-size: 2.2rem;
        color: inherit;

        animation-name: moveIn;
        animation-duration: 3.5s;
        animation-timing-function: ease-out;
    }

    &__name {
        font-family: $font-poppins;
        font-size: 6rem;
        font-weight: bolder;
        color: $color-secondary;
        text-transform: uppercase;
        line-height: 1.1;

        animation-name: moveInLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;

        @include respond(medium-desktop) {
            font-size: 5.2rem;
        }

        @include respond(small-desktop) {
            font-size: 4.5rem;
        }

        @include respond(tab-land) {
            font-size: 4.2rem;
        }

        @include respond(phone) {
            font-size: 3.8rem;
        }
    }

    &__title {
        font-family: inherit;
        font-size: 2.2rem;
        color: inherit;

        animation-name: moveInRight;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__bio {
        max-width: 80%;
        font-family: inherit;
        font-size: 1.4rem;
        color: inherit;
        padding: 1rem 0;

        animation-name: moveIn;
        animation-duration: 3.5s;
        animation-timing-function: ease-out;

        @include respond(tab-port) {
            width: 55rem;
        }

        @include respond(phone) {
            min-width: 100%;
            max-width: 100%;
        }
    }
}

.bannerButtons {
    display: flex;
    gap: 2rem;

    animation-name: moveIn;
    animation-duration: 3.5s;
    animation-timing-function: ease-out;
}

.bannerImg {
    height: 55rem;
    display: block;
    margin-left: auto;

    animation-name: moveIn;
    animation-duration: 3.5s;
    animation-timing-function: ease-out;

    @include respond(small-desktop) {
        height: 45rem;
    }

    @include respond(tab-land) {
        height: 40rem;
    }
}

.mouseScroll {
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    right: 50%;

    font-size: 3rem;
    color: $color-white-dull;
    z-index: 10;
    transition: font-size .3s, cursor .3s;

    @include respond(phone) {
        font-size: 2.5rem;
        bottom: 2rem;
    }

    &:focus,
    &:hover {
        outline: none;
        font-size: 3.5rem;
        cursor: pointer;
    }
}