@import '../../scss/variables.scss';

.button {
    appearance: none;

    min-width: 15rem;
    font-size: 1.7rem;
    font-family: $font-poppins;
    text-align: center;
    color: $color-white-dull;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: $color-secondary;
    transition: color .3s, border .3s, background-color .3s, curor .3s;

    &:active,
    &:focus,
    &:hover {
        color: $color-secondary;
        border: 2px solid $color-secondary;
        background-color: $color-white-dull;
        cursor: pointer;
        outline: none;
    }
}