@import '../../scss/breakpoints.scss';
@import '../../scss/utilities.scss';
@import '../../scss/variables.scss';

.portfolioSection {
    background-color: $color-primary;
    min-height: 100vh;
    padding: 2rem 10rem;

    @include respond(phone) {
        padding: 2rem 4rem;
    }
}

.emailLink {
    color: $color-secondary;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: color .3s, border-bottom .3s, cursor .3s;

    &:focus,
    &:hover {
        outline: none;
        color: $color-white-dull;
        border-bottom: 1px solid $color-secondary;
        cursor: pointer;
    }
}

.cardsGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    padding: 8rem 0;

    &>* {
        margin-bottom: 4rem;

        @supports not ((gap: 2rem) or (-webkit-gap: 2rem)) {
            margin-left: 2rem;
            margin-right: 2rem;

            @include respond(phone) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}