@import '../../scss/variables.scss';

.home {
    position: relative;
}

.footer {
    font-size: 1.5rem;
    color: $color-white-dull;
    padding: 3rem;
    border-top: 1px solid $color-primary;
    background-color: $color-primary-dark;
    text-align: center;
}

.scrollTop {
    position: fixed;
    right: 3rem;
    bottom: 3rem;

    opacity: 0;
    visibility: 0;

    width: 5rem;
    height: 5rem;
    display: inline-block;
    font-size: 2rem;
    color: $color-white-dull;
    text-align: center;
    line-height: 4.5rem;
    border-radius: 50%;
    border: 2px solid $color-white-dull;
    background-color: $color-secondary;
    transition: color .3s, border .3s, background-color .3s, cursor .3s, opacity .3s, visibility .3s;

    &:active,
    &:focus,
    &:hover {
        outline: none;
        color: $color-secondary;
        border: 2px solid $color-secondary;
        background-color: $color-white-dull;
        cursor: pointer;
    }
}

.show {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s, visibility .3s;
  }