@import './variables.scss';

.section-heading {
    font-family: $font-poppins;
    font-size: 3rem;
    font-weight: bold;
    color: $color-white-dull;
    padding: 4rem 0 2rem 0;
    text-align: center;
}

.section-intro {
    font-family: $font-poppins;
    font-size: 1.7rem;
    color: $color-white-dull;
    padding: 1rem 0;
    text-align: center;
}