/* ------------------------------------- */
/* ************** COLORS ************** */
/* ------------------------------------- */


// $color-primary: #24263B;
$color-primary: #2a2d46;
$color-primary-dark: #1F2235;

$color-secondary: #FF4A57;

$color-tertiary: #FF6913;
$color-tertiary-dark: #FF4900;

$color-white: #fff;
$color-white-dull: #FCFCFC;

$color-black: #000000;


/* ------------------------------------- */
/* ************** FONTS ************** */
/* ------------------------------------- */

$font-sacramento: 'Sacramento';
$font-poppins: 'Poppins';
$font-playfair: 'Playfair';