/* ------------------------------------- */
/* ************** COLORS ************** */
/* ------------------------------------- */


// $color-primary: #24263B;
$color-primary: #2a2d46;
$color-primary-dark: #1F2235;

$color-secondary: #FF6913;

$color-white-dull: #FCFCFC;

$color-black: #000000;


/* ------------------------------------- */
/* ************** FONTS ************** */
/* ------------------------------------- */

$font-poppins: 'Poppins';
$font-playfair: 'Playfair';